* {
    border: 2px solid red;
}


.container {

    display: flex;
    flex-direction: column;
}

/* header part */


.header {
    display: flex;
    justify-content: space-between;
    background-color: #1F2937;
}

.header img {
    display: flex;
    flex-shrink: 1;
    padding: 20px
}

.right-links {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    color: #F9FAF8;
    font-family: "Roboto","Arial";
    opacity: 0.7;
    
}

.right-links a {
    text-decoration: none;
    color: black;
    outline: 0;
  }

.right-links li {
    list-style-type: none;
  }
/* hero part */

.hero {
    display: flex;
    color: #F9FAF8;
    background-color: #1F2937;
    align-items: center;
    justify-content: center;
}

.hero-cta {
    display: flex;
    text-align: left;
    flex-basis: 400px;
    flex-direction: column;
    margin-right: 50px;
}

.hero-cta p {
    font-family: "Roboto","Arial";
    opacity: 0.7;
}

h1 {
    font-size: 48px;
    font-weight: bold;
    color: #F9FAF8;
    margin: 0;
    font-family: "Roboto","Arial";
}

.hero button {
    display: block;
    text-align: center;
    width: 110px;
    border: none;
    background: #3882f6;
    padding: 10px;
    border-radius: 8px;
    color: #fff;
    font-family: 'Roboto', arial;
    text-decoration: none;
    font-weight: bold;
}

.hero-image {
    width: 500px;
    height: 350px;

}

/* content part */


.second-container {
    display: flex;
    flex-direction: column;
    background-color: white;
}

h2 {
    text-align: center;
    font-size: 36x;
    font-weight: bold;
    color: #1F2937;
    font-family: "Roboto","Arial";
}

.second-container-content{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.second-container-content p {
    font-family: "Roboto","Arial";
    opacity: 0.7;
    text-align: center;
}

.second-container-content img {
    border: 4px solid #3882F6;
    border-radius: 15px;
    margin: 5px 20px 0px 20px;
    flex: auto;
}


